
// VARS //

$black: black;
$white: white;
$textDark: #212124;
$bg: #DFEFFC;
$greyText: #777777;
$greyUI: lighten( $greyText, 50%);
$greyDark: #212121;
$blueLight: #31ADFF;
$blue: #0681FF;
$blueDark: darken(desaturate($blue, 10), 5);
$greenActive: #00FFB0;
$color-dark: black;
$color: #974fe4;

$fontStack: 'Source Sans Pro', sans-serif;
$font-size: 30px;
$icon-size: 30px;
$width-input: 500px;
$border-radius: 10px;
$transition: all 0.5s;
// MIXINS //

@mixin horizontal-gradient($from, $to, $stop: 100%) {
    background-color: $from;
    background-image: -moz-linear-gradient(left, $from 0%, $to $stop);
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, $from), color-stop($stop, $to));
    background-image: -webkit-linear-gradient(left, $from 0%, $to $stop);
    background-image: -o-linear-gradient(left, $from 0%, $to $stop);
    background: -ms-linear-gradient(left, $from 0%, $to $stop);
    background: linear-gradient(to right, $from 0%, $to $stop);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$from', endColorstr='$to', GradientType=1);
}
 
@mixin box_shadow_down () {
    -webkit-box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.1);
	box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.1);
}
@mixin box_shadow_up () {
    -webkit-box-shadow: 0 -1px 20px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 -1px 20px rgba(0, 0, 0, 0.1);
	box-shadow: 0 -1px 20px rgba(0, 0, 0, 0.1);
}

@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white,  50%)) {
  // For Google Chrome
  ::-webkit-scrollbar {
      width:  $size;
      height: $size;
  }

  ::-webkit-scrollbar-thumb {
      background: $foreground-color;
  }

  ::-webkit-scrollbar-track {
      background: $background-color;
  }
}

@mixin placeholder {
  &::-webkit-input-placeholder {
      @content;
  }

  &:-moz-placeholder { /* Firefox 18- */
      @content;
  }

  &::-moz-placeholder {  /* Firefox 19+ */
      @content;
  }

  &:-ms-input-placeholder {
      @content;
  }
}