
// VARS //

$black: black;
$white: white;
$textDark: #212124;
$bg: #DFEFFC;
$greyText: #616161;
$greyUI: lighten( $greyText, 55%);
$greyDark: #212121;
$blueLight: #31ADFF;
$blue: #0681FF;
$blueDark: darken(desaturate($blue, 10), 5);
$greenActive: #00FFB0;
$color-dark: black;
$color: #974fe4;

$fontStack: 'Source Sans Pro', sans-serif;
$font-size: 30px;
$icon-size: 30px;
$width-input: 500px;
$border-radius: 10px;
$transition: all 0.5s;
// MIXINS //

@mixin horizontal-gradient($from, $to, $stop: 100%) {
    background-color: $from;
    background-image: -moz-linear-gradient(left, $from 0%, $to $stop);
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, $from), color-stop($stop, $to));
    background-image: -webkit-linear-gradient(left, $from 0%, $to $stop);
    background-image: -o-linear-gradient(left, $from 0%, $to $stop);
    background: -ms-linear-gradient(left, $from 0%, $to $stop);
    background: linear-gradient(to right, $from 0%, $to $stop);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$from', endColorstr='$to', GradientType=1);
}

@mixin box_shadow_down ($level) {
    @if $level==1 {
        box-shadow: 0 1px 20px rgba(0, 0, 0, 0.1), 0 1px 30px rgba(12, 8, 8, 0.12);
        }   
    @else if $level==2 {
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        } 
}
@mixin box_shadow_up ($level) {
    @if $level==1 {
        box-shadow: 0 -1px 20px rgba(0, 0, 0, 0.1), 0 -1px 30px rgba(12, 8, 8, 0.12);
        }   
    @else if $level==2 {
        box-shadow: 0 -3px 6px rgba(0, 0, 0, 0.16), 0 -3px 6px rgba(0, 0, 0, 0.23);
        }
}

@mixin small {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1100px) {
    @content;
  }
}