

/*

@TODO

-add min and max width on sidebars
-unfuck the searchbar



*/
@import '_var';
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:100,200,300,400');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: $fontStack;
}

#app {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 1366px;
  height: 768px;
  border: 2px solid slategray;
}

// BEGIN LEFT SIDEBAR //


#left {
  float: left;
  background-color: white;
  width: 200px;
  height: 100%;
  border-right: 2px solid lighten( $greyText, 55%);
}

#user-header {
  height: 50px;
  background-color: white;
  width: 100%;
}

.logo {
  padding-top: 4px;
  padding-left: 15px;
  line-height: 35px;
  font-size: 1rem;
  span {
    color: $greyText;
    vertical-align: middle;
    margin-left: 15px;
    font-weight: 300;
  }
  img {
    vertical-align: middle;
  }
  .fa { 
    color: $greyText;
    font-size: .8rem;
    margin-top: 3px;
    margin-left: 45px;
    vertical-align: middle;
  }
}

#menu {
  a {
    display: block;
    text-decoration: none;
    color: $greyText;
    height: 35px;
    padding-left: 15px;
    margin-top: 5px;
    font-weight: 300;
  }
  #heading {
    color: darken($greyText, 20%);
    font-weight: 600;
    text-transform: uppercase;
    padding-top: 20px;
    margin-bottom: 15px;
  }
  #child {
    margin-left: 5px;
    line-height: 30px;
    span {
      margin-right: 5px;
      img {
        position: relative;
        top: 4px;
        border-radius: 3px;
      }
      .fa {
        position: relative;
        top: 1px;
        height: 20px;
        width: 20px;
        text-align: center;
        color: $greyText;
        font-size: 1.2rem;
      }
    }
  }
}

.bday-container {
  position: absolute;
  padding-left: 15px;
  line-height: 30px;
  display: inline;
}

#bday-icon {
  margin: auto;
  & img {
    margin: auto;
    border-radius: 50%;
    border: 5px solid white;
    margin-left: -15px;
  }
}


// END LEFT SIDEBAR //





// BEGIN MIDDLE //

#middle {
  width: 600px;
  display: inline-block;
  margin: 0 auto;
  background-color: $white;
  height: 100%;
}

.middle-header {
  z-index: -9;
  height: 5%;
  width: 100%;
  padding-top: .45%;
  line-height: 35px;
  font-size: 1rem;
  @include box-shadow-down(1);
}

.searchbar {
  position: relative;
  margin: 0 auto;
  height: 60px;
  width: 60%;
}

.searchbar--input,
.searchbar--buttons {
  @include tablet {
    position: absolute;
  }
  top: 0;
  right: 0;
}

.searchbar--input,
.searchbar--select,
.searchbar--submit {
  border: none;
  outline: none;
}

.searchbar--input {
  width: 100%;
  padding: 20px 0 20px 0px;
  padding-left: 10px;
  height: 60px;
  background-color: $blue;
  border-radius: 3px;
  font-weight: 100;
  @include tablet {
    height: 40px;
  }
  font-size: 16px;
}

.searchbar--submit,
.searchbar--select {
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  font-weight: 100;
}

.searchbar--submit {
  //position: absolute;
  //right: 0;
  //top: 0;
  @include small {
    width: 36%;
  }
  width: 80px;
  height: 50px;
  @include tablet {
    height: 30px;
  }
  padding: 0;
  margin: 5px;
  line-height: 32px;
  display: block;
  float: right;
  font-size: 14px;
  letter-spacing: .5px;
  border-radius: 4px;
  color: #212121;
  background-color: lighten( $greyText, 55%);
}

.searchbar--select {
  //position: absolute;
  //right: 0;
  @include small {
    width: 100%;
  }
  height: 50px;
  @include tablet {
    height: 30px;
  }
  margin: 5px 0;
  padding: 0 40px 0 20px;
  border-radius: 3;
  color: #8a8a8a;
  letter-spacing: .25px;
  background-color: lighten( $greyText, 55%);
}

.select-wrapper {
  position: relative;
  float: right;
  @include small {
    width: 60%;
  }
  &:after {
    content: '>';
    font: 18px 'Source Sans Pro', monospace;
    color: #b3b1b1;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 20px;
    top: 19px;
    @media (min-width: 768px) {
      top: 10px;
    }
    padding: 0 0 2px;
    position: absolute;
    pointer-events: none;
  }
}
// END MIDDLE //




// BEGIN RIGHT SIDEBAR //

#right {
  position: relative;
  float: right;
  width: 210px;
  height: 100%;
  background-color: $blue;
  margin: 0 auto;
  @include scrollbars(.5em, $blue, $blueDark);
}

.messenger-header {
  height: 5%;
  padding-top: 4px;
  padding-left: 15px;
  line-height: 35px;
  font-size: 1rem;
  @include horizontal-gradient($blue,
  $blueLight);
  @include box-shadow-down(1);
  span {
    color: $white;
    vertical-align: middle;
    margin-left: 15px;
    font-weight: 300;
  }
  img {
    vertical-align: middle;
  }
  .fa {
    float: right;
    color: $blue;
    margin-top: 12px;
    margin-right: 5%;
    font-size: .9rem;
    vertical-align: middle;
  }
}

#users {
  overflow: auto;
  height: 95%;
  padding-top: -45px;
  margin-bottom: -60px!important;
} 

.messenger-user {
  height: 45px;
  width: 260px;
  padding-top: 4px;
  padding-left: 15px;
  line-height: 35px;
  font-size: 1rem; 
  span {
    color: $white;
    vertical-align: middle;
    font-size: .8rem;
    margin-left: 25px;
    font-weight: 200;
    letter-spacing: 1px;
  }
  img {
    vertical-align: middle;
    border-radius: 50%;
  }
}

.inactive {
  span {
    margin-left: 10px;
  }
  .dot {
    display: none;
  }
  i {
    display: none;
  }
}

.active {
  span {
    font-weight: 400;
  }
  .dot {
    border: 1px solid $blue;
    margin-left: -28px;
    margin-top: 20px;
    line-height: 35px;
    vertical-align: middle;
  }
  i {
    float: right;
    color: $white;
    margin-top: 12px;
    margin-right: 3%;
    font-size: .9rem;
    vertical-align: middle;
  }
}

.search-wrapper {
  position: absolute;
  bottom: 0;
  min-height: 5%;
  width: 100%;
  background-color: $blue;
  font-weight: 200;
  @include box-shadow-up(1);
 
}

#searchbar { 
margin-top: 7px;
background: $blueDark;
border-radius: 20px;
margin-left: 10%;
justify-content: center;
width: 80%;
text-align: center;
input {
  appearance: none;
  background: transparent;
  border: 0;
  color: inherit;
  outline: 0;
  height: 35px;
  width: 100%;
  font-size: .9rem;
  color: #fff ;
  &::placeholder {
    color: rgba(255,255,255, .7);
    font-weight: 100;
    letter-spacing: 1px;
    padding-left: 10px;
    font-size: .9rem;
    }
  }
}