@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:100,200,300,400");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Source Sans Pro', sans-serif;
}

#app {
  width: 100%;
  height: 100vh;
  background-color: beige;
}

#left {
  float: left;
  background-color: white;
  width: 220px;
  height: 100vh;
  border-right: 2px solid #ededed;
}

#username {
  height: 45px;
  width: 100%;
  background-color: white;
}

.logo {
  padding-top: 4px;
  padding-left: 15px;
  line-height: 35px;
  font-size: 1rem;
}

.logo span {
  color: #616161;
  vertical-align: middle;
  margin-left: 15px;
  font-weight: 300;
}

.logo img {
  vertical-align: middle;
}

.logo .fa {
  color: #616161;
  font-size: .8rem;
  margin-top: 3px;
  margin-left: 45px;
  vertical-align: middle;
}

.messenger-header {
  height: 5%;
  padding-top: 4px;
  padding-left: 15px;
  line-height: 35px;
  font-size: 1rem;
  background-color: #0681FF;
  background-image: -moz-linear-gradient(left, #0681FF 0%, #31ADFF 100%);
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, #0681FF), color-stop(100%, #31ADFF));
  background-image: -webkit-linear-gradient(left, #0681FF 0%, #31ADFF 100%);
  background-image: -o-linear-gradient(left, #0681FF 0%, #31ADFF 100%);
  background: -ms-linear-gradient(left, #0681FF 0%, #31ADFF 100%);
  background: linear-gradient(to right, #0681FF 0%, #31ADFF 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$from', endColorstr='$to', GradientType=1);
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.1), 0 1px 30px rgba(12, 8, 8, 0.12);
}

.messenger-header span {
  color: white;
  vertical-align: middle;
  margin-left: 15px;
  font-weight: 300;
}

.messenger-header img {
  vertical-align: middle;
}

.messenger-header .fa {
  color: #0681FF;
  font-size: 1rem;
  margin-top: 3px;
  margin-left: 130px;
  line-height: 35px;
  vertical-align: middle;
}

.messenger-user {
  height: 45px;
  width: 260px;
  padding-top: 4px;
  padding-left: 15px;
  line-height: 35px;
  font-size: 1rem;
}

.messenger-user span {
  color: white;
  vertical-align: middle;
  font-size: .8rem;
  margin-left: 25px;
  font-weight: 200;
  letter-spacing: 1px;
}

.messenger-user img {
  vertical-align: middle;
  border-radius: 50%;
}

.inactive span {
  margin-left: 10px;
}

.inactive .dot {
  display: none;
}

.inactive i {
  display: none;
}

.active span {
  font-weight: 400;
}

.active .dot {
  border: 1px solid #0681FF;
  margin-left: -28px;
  margin-top: 20px;
  line-height: 35px;
  vertical-align: middle;
}

.active i {
  float: right;
  color: white;
  margin-top: 12px;
  font-size: .9rem;
  vertical-align: middle;
}

#menu a {
  display: block;
  text-decoration: none;
  color: #616161;
  height: 35px;
  padding-left: 15px;
  margin-top: 5px;
  font-weight: 300;
}

#menu #heading {
  color: #2e2e2e;
  font-weight: 600;
  text-transform: uppercase;
  padding-top: 20px;
  margin-bottom: 15px;
}

#menu #child {
  margin-left: 5px;
  line-height: 30px;
}

#menu #child span {
  margin-right: 5px;
}

#menu #child span img {
  position: relative;
  top: 4px;
  border-radius: 3px;
}

#menu #child span .fa {
  position: relative;
  top: 1px;
  height: 20px;
  width: 20px;
  text-align: center;
  color: #616161;
  font-size: 1.2rem;
}

.bday-container {
  position: absolute;
  padding-left: 15px;
  line-height: 30px;
  display: inline;
}

#bday-icon {
  margin: auto;
}

#bday-icon img {
  margin: auto;
  border-radius: 50%;
  border: 5px solid white;
  margin-left: -15px;
}

#middle {
  width: 70%;
  display: inline-block;
  margin: 0 auto;
}

#right {
  position: relative;
  float: right;
  width: 275px;
  height: 100%;
  background-color: #0681FF;
  margin: 0 auto;
}

#users {
  overflow: scroll;
  height: 95%;
  padding-top: -45px;
  margin-bottom: -60px !important;
}

.search-wrapper {
  position: absolute;
  bottom: 0;
  min-height: 5%;
  width: 275px;
  background-color: #0681FF;
  font-weight: 200;
  box-shadow: 0 -1px 20px rgba(0, 0, 0, 0.1), 0 -1px 30px rgba(12, 8, 8, 0.12);
}

#search {
  margin-top: 7px;
  background: #0c74e0;
  border-radius: 20px;
  margin-left: 10%;
  justify-content: center;
  width: 80%;
  text-align: center;
}

#search input {
  appearance: none;
  background: transparent;
  border: 0;
  color: inherit;
  outline: 0;
  height: 35px;
  width: 100%;
  font-size: .9rem;
  color: #fff;
}

#search input::placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 100;
  letter-spacing: 1px;
  padding-left: 10px;
  font-size: .9rem;
}
