@import '_var';
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:100,200,300,400');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Source Sans Pro', sans-serif;
}

#app {
  width: 100%;
  height: 100vh;
  background-color: beige;
}

#left {
  float: left;
  background-color: white;
  width: 220px;
  height: 100vh;
  border-right: 2px solid lighten( $greyText, 55%);
}

#username {
  height: 45px;
  width: 100%;
  background-color: white;
}

.logo {
  padding-top: 4px;
  padding-left: 15px;
  line-height: 35px;
  font-size: 1rem;
  span {
    color: $greyText;
    vertical-align: middle;
    margin-left: 15px;
    font-weight: 300;
  }
  img {
    vertical-align: middle;
  }
  .fa {
    color: $greyText;
    font-size: .8rem;
    margin-top: 3px;
    margin-left: 45px;
    vertical-align: middle;
  }
}

.messenger-header {
  height: 45px;
  padding-top: 4px;
  padding-left: 15px;
  line-height: 35px;
  font-size: 1rem;
  @include horizontal-gradient($blue,
  $blueLight);
  @include box-shadow(1);
  span {
    color: $white;
    vertical-align: middle;
    margin-left: 15px;
    font-weight: 300;
  }
  img {
    vertical-align: middle;
  }
  .fa {
    color: $blue;
    font-size: 1rem;
    margin-top: 3px;
    margin-left: 130px;
    line-height: 35px;
    vertical-align: middle;
  }
}

.messenger-user {
  height: 45px;
  width: 260px;
  padding-top: 4px;
  padding-left: 15px;
  line-height: 35px;
  font-size: 1rem; 
  span {
    color: $white;
    vertical-align: middle;
    font-size: .8rem;
    margin-left: 25px;
    font-weight: 200;
    letter-spacing: 1px;
  }
  img {
    vertical-align: middle;
    border-radius: 50%;
  }
}

.inactive {
  span {
    margin-left: 10px;
  }
  .dot {
    display: none;
  }
  i {
    display: none;
  }
}

.active {
  span {
    font-weight: 400;
  }
  .dot {
    border: 1px solid $blue;
    margin-left: -28px;
    margin-top: 20px;
    line-height: 35px;
    vertical-align: middle;
  }
  i {
    float: right;
    color: $white;
    margin-top: 12px;
    font-size: .9rem;
    vertical-align: middle;
  }
}


#menu {
  a {
    display: block;
    text-decoration: none;
    color: $greyText;
    height: 35px;
    padding-left: 15px;
    margin-top: 5px;
    font-weight: 300;
  }
  #heading {
    color: darken($greyText, 20%);
    font-weight: 600;
    text-transform: uppercase;
    padding-top: 20px;
    margin-bottom: 15px;
  }
  #child {
    margin-left: 5px;
    line-height: 30px;
    span {
      margin-right: 5px;
      img {
        position: relative;
        top: 4px;
        border-radius: 3px;
      }
      .fa {
        position: relative;
        top: 1px;
        height: 20px;
        width: 20px;
        text-align: center;
        color: $greyText;
        font-size: 1.2rem;
      }
    }
  }
}

.bday-container {
  position: absolute;
  padding-left: 15px;
  line-height: 30px;
  display: inline;
}

#bday-icon {
  margin: auto;
  & img {
    margin: auto;
    border-radius: 50%;
    border: 5px solid white;
    margin-left: -15px;
  }
}

#middle {
  width: 70%;
  display: inline-block;
  margin: 0 auto;
}

#right {
  position: relative;
  float: right;
  width: 275px;
  height: 100vh;
  background-color: $blue;
  padding-bottom: 200px;
  margin: 0 auto;
}


.search-wrapper {
  position: absolute;
  bottom: 0;
  min-height: 60px;
  width: 275px;
  background-color: $blue;
  font-weight: 200;

}
#search { 
  margin-top: 9px;
background: $blueDark;
border-radius: 20px;
margin-left: 10%;
justify-content: center;
width: 80%;
text-align: center;
input {
  appearance: none;
  background: transparent;
  border: 0;
  color: inherit;
  outline: 0;
  height: 35px;
  font-size: .9rem;
  color: #fff ;
  &::placeholder {
    color: rgba(255,255,255, .7);
    font-weight: 200;
    letter-spacing: 1px;
    margin-left: -20px;
    font-size: .9rem;
  }
}}